<form
  #ceps="ngForm"
  (ngSubmit)="onSubmit(ceps)"
  class="d-flex mx-auto flex-col"
>
  <label for="type 5 CEP's" class="form-label padding-b">Type five CEP's</label>
  <div class="form-group form-group flex-col mb-3">
    <input
      required
      type="text"
      name="cep1"
      placeholder="type the cep"
      class="form-control"
      ngModel
    />
  </div>
  <div class="form-group form-group flex-col mb-3">
    <input
      required
      type="text"
      name="cep2"
      placeholder="type the cep"
      class="form-control"
      ngModel
    />
  </div>
  <div class="form-group form-group flex-col mb-3">
    <input
      required
      type="text"
      name="cep3"
      placeholder="type the cep"
      class="form-control"
      ngModel
    />
  </div>
  <div class="form-group form-group flex-col mb-3">
    <input
      required
      type="text"
      name="cep4"
      placeholder="type the cep"
      class="form-control"
      ngModel
    />
  </div>
  <div class="form-group form-group flex-col mb-3">
    <input
      required
      type="text"
      name="cep5"
      placeholder="type the cep"
      class="form-control"
      ngModel
    />
  </div>
  <button type="submit" class="btn">submit</button>
</form>
<ul>
  <li class="result" *ngFor="let a of getCep">
    <p *ngIf="a.erro">cep not found</p>
    <p *ngIf="!a.erro">
      cep:{{ a.cep }}, logradouro: {{ a.logradouro }}, bairro: {{ a.bairro }},
      localidade: {{ a.localidade }}, ddd: {{ a.ddd }}, uf: {{ a.uf }}
    </p>
  </li>
</ul>
