<form
  #getNumber="ngForm"
  (ngSubmit)="onSubmit(getNumber)"
  class="form-horizontal d-flex mx-auto flex-col"
>
  <div class="form-group form-group flex-col mb-3">
    <label for="Initial" class="form-label padding-b">Initial</label>
    <input
      type="number"
      name="value1"
      placeholder="digite o periodo inicial"
      class="form-control"
      ngModel
    />
  </div>
  <div class="form-group form-group flex-col mb-3">
    <label for="Final" class="form-label padding-b">Final</label>
    <input
      type="number"
      name="value2"
      placeholder="digite o periodo final"
      class="form-control"
      ngModel
    />
  </div>
  <button type="submit" class="btn btn-primary">submmit</button>
</form>
<div *ngIf="isEqual" class="error">
  <p>please select diferente numbers!!</p>
</div>
<div *ngIf="returnResult.length > 1">
  <ul class="list">
    <li *ngFor="let a of returnResult; let index = index" class="result">
      <span>{{ a }}</span>
    </li>
  </ul>
</div>
